<h3>Log in</h3>

<%= form_tag sessions_path, :remote => true do %>
  <div>
    <%= text_field_tag :email, params[:email], :placeholder => "email", :required => true %>
    <%= password_field_tag :password, params[:password], :placeholder => "password", :required => true %>
  </div>
  <div class="login_errors"></div>
  <%= submit_tag "Log in", :class => "btn btn-primary" %>
<% end %>