/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.border_round{
	border-radius: 8px;
}

.div_shadow{
  -webkit-box-shadow: 0px 2px 8px 0px rgba(48, 50, 50, 0.87);
	-moz-box-shadow:    0px 2px 8px 0px rgba(48, 50, 50, 0.87);
	box-shadow:         0px 2px 8px 0px rgba(48, 50, 50, 0.87);
}

.main_container{
	margin-top: 50px;
}

.left_side_profile_container{
	width: 100%;
	height: 200px;
	border: 1px solid #e1e8ed;
}
.left_side_profile_image{
	width: 28%;
	height: 75px;
	margin-left: 10px;
	margin-top: 50px;
	border: 3px solid white;
}
.left_side_profile_text table{
	width: 100%;
	margin-top: -20px;
}
.left_side_profile_text table tr{
	text-align: center;
}
.left_side_profile_text table td{
	width: 33%;
}
.left_side_profile_text_name{
	position: relative;
	top: -36px;
	left: 100px;
	color: #66757f;
}
.left_side_profile_text_full_name{
	color: black;
	font-weight: bold;
	font-size: 18px;
}
.left_side_profile_tabel_tr_1{
	color: #8c9ca9;
	font-size: 11px;
}
.left_side_profile_tabel_tr_2 td{
	font-weight: bold;
	font-size: 14px;
}

.left_side_strp{
	position: relative;
	width: 100%;
	height: 90px;
	top: -195px;
	z-index: -1;
}

.nav_bar_container{
	background-color: white;
	height: 40px;
	margin-bottom: 20px; 
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding-left: 15px;
}