// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_new_body{
	background-image:  asset-data-url("user_new/bg.jpg");
}

.user_new_effect_container{
	width: 100%;
	height: 100px;
}
.user_new_effect{
	width: 100%;
	background-color: #00DEE1;
}
.user_new_effect-1{
	height: 32px;
	position: absolute;
	top: 0px; left: 0px;
}
.user_new_effect-2{
	height: 24px;
	position: absolute;
	top: 32px; left: 0px;
}

.user_new_effect_expand_img{
   position: absolute;
   top: 0px;
   margin-top: 6px;
   width : 30px;
   height : 18px;
   cursor: pointer;
}
