<div class="left_side_profile_container">
  <div align="center">
  	<%= image_tag "user_new/login-with-facbook.jpg", :class => "left_side_profile_image" %>
  </div>
  <div class="left_side_profile_text">
  	<div>Rank</div>
  	<div>Likes DisLikes</div>
  </div>
  <div class="left_side_strp"></div>
</div>
